body {
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container {
    overflow-y: scroll;
    height: 100%;
    position: relative;

}
.active {
    background: linear-gradient(rgba(45, 44, 43, 0.5),#EE6055);
}
nav {
    background-color: rgba(45, 44, 43, 0.5);
      
}

.nav-link {
    margin-right: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #93A3BC;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

nav a {
    color: white;
}

.name {
    background-color: rgba(45, 44, 43, 0.5);
    margin-top: 50px;
}
.caption{
    color: black;
    font-size: 25px;
}
.conor {
    font-size: 75px;
}

.lead {
    font-size: 40px;
    
}

.card {
    color: black;
}

p a{
    color: black;
}



h2 {
    color: white;

}

.headline {
    background-image: url(../images/bio_img2resize2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 125%;
    height: 45rem;
     
}



#about {
    background-color: #7BD9E5;
}

h3 {
    font-size: 40px;
    font-weight: bold;

}

h3:after, h3:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.25);
    content: "";
}
h3:after {
   right: 0;
    
  }

#portfolio {
    background-color: #FCECC9;
    padding-bottom: 50px;
}
#skills {
    background-color: #FCB0B3;
}

.skills {
    font-size: 20px;
}
.card {
    padding: 0;
}

#contact {
    background-color: #EE6055;
}

.github{
    color: black;
    font-size: 70px;
}

.github:hover, .linkedIn:hover, .stackOverFlow:hover {
    text-decoration: none;
    color: grey;
}

.linkedIn {
    color: #327ab1;
    font-size: 70px;
}   


.stackOverFlow {
    color: #f3a73c;
    font-size: 70px;
    padding-bottom: 10px;
}

.mail a{
    font-size: 30px;
    color: white;
}

.mail {
    padding: 15px 0 15px 0;
}

.btn {
    background-color: #2D2C2B;
   
}

@media (max-width: 766px){
    .card {
      margin: 5px;
    }
    .grow:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3) translate(69px);

    }

    i.grow:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.2) translate(0, -10px);

    }

    .mailBtn.grow:hover{
        transform: scale(1.2) translate(0, -5px);

    }
    h3:after, h3:before {
        width: 15%;
    }

    h3:after {
        margin-right: 15px;
         }

    .name{
        width: 70%;
    }
  }
